registry=https://registry.npmmirror.com
phantomjs_cdnurl=https://registry.npmmirror.com/phantomjs
puppeteer_download_host=https://registry.npmmirror.com

# ===== backups =====
# puppeteer_download_host=https://npm.taobao.org/mirrors
